html{
    font-size: 16px;
}
@font-face{
    font-family: 'pixel';
    src: url('../assets/fonts/VT323-Regular.ttf');
}
*{
    padding: 0;
    border: 0;
    margin: 0;   
    outline: none;
    box-sizing: border-box;
}
$colorPrimario: #ff4b2b;
$colorPrimarioGradiente: #ff416c;
$colorSecundario: #230050;
$colorDark: #28262C;
body{
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: 'pixel', Arial, Helvetica, sans-serif;
    background: $colorSecundario;
    header{
        height: 130px;
        background: $colorDark;
        color: $colorPrimario;
        font-size: 1rem;
        letter-spacing: 20px;
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        h1{
            margin-left: 5%;
            font-weight: normal;
        }
        .fa-bars{
            display: none;
        }
        .titleBorder{
            display: inline-block;
            border-bottom: 3px solid $colorPrimario;
            border-top: 3px solid $colorPrimario;
        }
        #firstPart{
            padding-bottom: 5px;
            padding-top: 5px;
            width: 50px;
            text-align: right;
        }
        #secondPart{
            padding-bottom: 10px;
            padding-top: 0px;
        }
        #thirdPart{
            padding-bottom: 15px;
            padding-top: 10px;
        }
        #fourthPart{
            padding-bottom: 5px;
            padding-top: 5px;
            width: 40px;
        }
        nav{
            margin-left: auto;
            display: flex;
            flex-flow: row wrap;
            align-items: center;
            padding-right: 350px;
            .topNav{
                display: flex;
                flex-flow: row wrap;
                align-items: center;
                z-index: 1;
                .doUndo{
                    padding: 20px;
                    display: flex;
                    flex-flow: row wrap;
                    justify-content: space-between;
                    color: #fff;
                    font-size: 2rem;
                    i{
                        margin-left: 20px;
                    }
                    .disabled{
                        color: #909090;
                    }
                }
                .gridSize{
                    display: flex;
                    flex-flow: row wrap;
                    align-items: center;
                    input{
                        width: 60px;
                        padding-top: 20px;
                        padding-bottom: 20px;
                        padding-left: 20px;
                        margin: 20px;
                        border: 2px solid $colorPrimario;
                        border-radius: 5px;
                        text-align: left;
    
                    }
                }
            }
            .herramientas{
                position: absolute;
                top: 0;
                right: 0;
                background: $colorDark;
                height: 100vh;
                width: 300px;
                text-align: center;
                height: 100vh;
                display: flex;
                flex-flow: column wrap;
                align-content: center;
                &::before {
                    content: "";
                    position: absolute;
                    right: 300px;
                    top: 130px;
                    height: 60px;
                    width: 60px;
                    border-top-right-radius: 30px;
                    box-shadow: 0 -30px 0 0 $colorDark; 
                }
                &::after {
                    content: "";
                    position: absolute;
                    right: 300px;
                    bottom: 0px;
                    height: 60px;
                    width: 60px;
                    border-bottom-right-radius: 30px;
                    box-shadow: 0 30px 0 0 $colorDark; 
                }
                #clear{
                    display: flex;
                    flex-flow: row wrap;
                    justify-content: space-evenly;
                    align-items: center;
                    margin-top: 150px;
                    margin-bottom: 20px;
                }
                .color{
                    width: 150px;
                    padding: 10px;
                    border: solid 2px $colorPrimario;
                    border-radius: 5px;
                    display: flex;
                    flex-flow: column wrap;
                    justify-content: center;
                    align-items: center;
                    h2{
                        color: #fff;
                        font-weight: normal;
                        font-size: 1.2rem;
                        letter-spacing: 5px;
                        margin-bottom: 10px;                    
                    }
                    #currentColor{
                        width: 80px;
                        height: 60px;
                        margin-bottom: 10px;
                        border: solid 1px $colorDark;
                    }
                    #basicColors{ 
                        width: 80px;
                        display: grid;
                        grid-template-columns: repeat(2, 1fr);
                        grid-gap: 10px;
                        grid-auto-flow: dense;
                        div{
                            width: 100%;
                            padding-bottom: 80%;
                            border: 1px solid $colorDark;
                        }
                    }
                }
            
            }
        }
    }
    main{        
        display: flex;
        justify-content: center;
        align-content: center;
        #container{
            position: relative;
            z-index: 1;
            width: 40%;
            border: solid 2px $colorDark;
            border-radius: 5px;
            padding: 1px;
            display: grid;
            grid-template-columns: repeat(30, 1fr);
            grid-template-rows: repeat(30, 1fr);
            grid-gap: 0;
            grid-auto-flow: dense;
            background-color: $colorDark;
            transform: translateX(-150px) translateY(15px);
            div{
                width: 100%;
                padding-bottom: 100%;
            }
            .gray{
                background-color: #f2f2f2;
            }
            .white{
                background-color: #fff;
            }
        }
    }
}

.btn{
    font-family: 'pixel', Arial, Helvetica, sans-serif;
    font-size: 1rem;
    background: linear-gradient(to right, $colorPrimarioGradiente, $colorPrimario);
    border: solid 2px $colorPrimarioGradiente;
    width: 150px;
    padding-bottom: 10px;
    padding-top: 10px;
    border-radius: 5px;
    letter-spacing: 3px;
    color: #fff;
    box-shadow: 2px 2px 5px #000;
    &:hover{
        background: $colorDark;
        border: solid 2px $colorPrimario;
    }
    &:active{
        background: linear-gradient(to left, $colorPrimarioGradiente, $colorPrimario);
    }
}
//clases de colores generales
.black{
    background-color: #000;
}
.white{
    background-color: #fff;
}
.darkGray{
    background-color: #909090;
}
.lightGray{
    background-color: #e2e2e2;
}
.blue{
    background-color: #0000ff;
}
.lightBlue{
    background-color: #66ffff;
}
.purple{
    background-color: #9900ff;
}
.red{
    background-color: #ff0000;
    
}
.pink{
    background-color: #dd45af;
}
.yellow{
    background-color: #ffff00;
}
.orange{
    background-color: #fd790d;
}
.green{
    background-color: #009900;
}
.lightGreen{
    background-color: #66ff33;
}
.brown{
    background-color: #5c2500;
}
.lilac{
    background-color: #deccff;

}
.appleGreen{
    background-color: #ccff33;

}
/*
@media screen and (min-width: 1200px) {
    body{
        main{        

            #container{
                position: relative;
                z-index: 1;
                padding:0px;
                width: 40%;
            }
            .herramientas{
                position: absolute;
                top: 0;
                right: 0;
                background: $colorDark;
                height: 100vh;
                width: 400px;

                text-align: center;
                &::before {
                    right: 400px;
                }
                &::after {
                    right: 400px;
                }
            }
        }
    }  

}*/
@media (max-width: 1200px) {
    html{
        font-size: 12px;
    }
    body{
        header{
            nav{
                padding-right: 200px;
                .topNav{
                    .gridSize{
                        input{
                            width: 60px;
                            padding-top: 18px;
                            padding-bottom: 18px;
                            padding-left: 20px;
                            margin: 20px;
                            border: 2px solid $colorPrimario;
                            border-radius: 5px;
                            text-align: left;
        
                        }
                    }
                }
                .herramientas{

                    width: 200px;
                    text-align: center;
                    &::before {
                        right: 200px;
                    }
                    &::after {
                        right: 200px;
                    }
                }
            }
        }
        main{        
            #container{
                position: relative;
                z-index: 1;
                padding:0px;
                width: 60%;
                transform: translateX(-100px) translateY(15px);
            }
        }
    }  
    .btn{
        font-size: 1.3rem;
    }
}
@media (max-width: 900px) {
    body{
        -moz-user-select: -moz-auto;
        -khtml-user-select: auto;
        -webkit-user-select: auto;
        -ms-user-select: auto;
        user-select: auto;
        header{
            height: 80px;
            h1{
                z-index: 6;
                margin: auto;
            }
            .fa-bars{
                display: inline-block;
                font-size: 20px;
                position: absolute;
                right: 10px;
                top: 30px;
            }
            nav{
                background: $colorDark;
                padding: 0;
                position: absolute;
                top: 80px;
                left: 0;
                z-index: 5;
                height: 700px;
                width: 100%;
                display: flex;
                flex-flow: column wrap;
                justify-content: flex-start;
                .topNav{
                    position: relative;
                    width: 100%;
                    .doUndo{
                        display: unset;
                        width: 100%;
                        text-align: center;
                        padding: 0;
                        margin-top: 20px;
                    }
                    .gridSize{
                        width: 100%;
                        display: flex;
                        flex-flow: column wrap;
                        justify-content: center;
                        margin-bottom: 20px;
                        input{
                            width: 150px;
                            padding: 10px;
                        
                            margin: 20px;
                            margin-bottom: 10px;
                            border: 2px solid $colorPrimario;
                            border-radius: 5px;
                            text-align: center;
                        }
                    }
                }
                .herramientas{
                    position: relative;
                    background: unset;
                    height: unset;
                    &::before {
                        display: none;
                    }
                    &::after {
                        display: none;
                    }
                    #clear{
                        margin-top: 0;
                        margin-bottom: 20px;    
                    }
                    .color{
                        h2{
                        }
                        #currentColor{
                        }
                        #basicColors{ 
                            div{
                            }
                        }
                    }
                
                }
            }
        }
        main{        
            #container{

                width: 90%;
                margin-top: 5%;
                transform: unset;
            }
        }
    }
    .btn{
        padding-bottom: 5px;
        padding-top: 5px;
    }
    .hidden{
        display: none;
    }
}