html {
  font-size: 16px;
}

@font-face {
  font-family: 'pixel';
  src: url("../assets/fonts/VT323-Regular.ttf");
}

* {
  padding: 0;
  border: 0;
  margin: 0;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: 'pixel', Arial, Helvetica, sans-serif;
  background: #230050;
}

body header {
  height: 130px;
  background: #28262C;
  color: #ff4b2b;
  font-size: 1rem;
  letter-spacing: 20px;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body header h1 {
  margin-left: 5%;
  font-weight: normal;
}

body header .titleBorder {
  display: inline-block;
  border-bottom: 3px solid #ff4b2b;
  border-top: 3px solid #ff4b2b;
}

body header #firstPart {
  padding-bottom: 5px;
  padding-top: 5px;
  width: 50px;
  text-align: right;
}

body header #secondPart {
  padding-bottom: 10px;
  padding-top: 0px;
}

body header #thirdPart {
  padding-bottom: 15px;
  padding-top: 10px;
}

body header #fourthPart {
  padding-bottom: 5px;
  padding-top: 5px;
  width: 40px;
}

body header nav {
  z-index: 2;
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 350px;
}

body header nav .doUndo {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #fff;
  font-size: 2rem;
}

body header nav .doUndo i {
  margin-left: 20px;
}

body header nav .gridSize {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body header nav .gridSize input {
  width: 60px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  margin: 20px;
  border: 2px solid #ff4b2b;
  border-radius: 5px;
  text-align: left;
}

body main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

body main #container {
  position: relative;
  z-index: 1;
  width: 40%;
  border: solid 2px #28262C;
  border-radius: 5px;
  padding: 1px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[30];
      grid-template-columns: repeat(30, 1fr);
  -ms-grid-rows: (1fr)[30];
      grid-template-rows: repeat(30, 1fr);
  grid-gap: 0;
  grid-auto-flow: dense;
  background-color: #28262C;
  -webkit-transform: translateX(-150px) translateY(15px);
          transform: translateX(-150px) translateY(15px);
}

body main #container div {
  width: 100%;
  padding-bottom: 100%;
}

body main #container .gray {
  background-color: #f2f2f2;
}

body main #container .white {
  background-color: #fff;
}

body main .herramientas {
  position: absolute;
  top: 0;
  right: 0;
  background: #28262C;
  height: 100vh;
  width: 300px;
  text-align: center;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -ms-flex-line-pack: center;
      align-content: center;
}

body main .herramientas::before {
  content: "";
  position: absolute;
  right: 300px;
  top: 130px;
  height: 60px;
  width: 60px;
  border-top-right-radius: 30px;
  -webkit-box-shadow: 0 -30px 0 0 #28262C;
          box-shadow: 0 -30px 0 0 #28262C;
}

body main .herramientas::after {
  content: "";
  position: absolute;
  right: 300px;
  bottom: 0px;
  height: 60px;
  width: 60px;
  border-bottom-right-radius: 30px;
  -webkit-box-shadow: 0 30px 0 0 #28262C;
          box-shadow: 0 30px 0 0 #28262C;
}

body main .herramientas #clear {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 150px;
  margin-bottom: 20px;
}

body main .herramientas .color {
  width: 150px;
  padding: 10px;
  border: solid 2px #ff4b2b;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main .herramientas .color h2 {
  color: #fff;
  font-weight: normal;
  font-size: 1.2rem;
  margin-bottom: 10px;
}

body main .herramientas .color #currentColor {
  width: 80px;
  height: 60px;
  margin-bottom: 10px;
  border: solid 1px #28262C;
}

body main .herramientas .color #basicColors {
  width: 80px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  grid-auto-flow: dense;
}

body main .herramientas .color #basicColors div {
  width: 100%;
  padding-bottom: 80%;
  border: 1px solid #28262C;
}

.btn {
  font-family: 'pixel', Arial, Helvetica, sans-serif;
  font-size: 1rem;
  background: -webkit-gradient(linear, left top, right top, from(#ff416c), to(#ff4b2b));
  background: linear-gradient(to right, #ff416c, #ff4b2b);
  border: solid 2px #ff416c;
  width: 150px;
  padding-bottom: 10px;
  padding-top: 10px;
  border-radius: 5px;
  letter-spacing: 3px;
  color: #fff;
  -webkit-box-shadow: 2px 2px 5px #000;
          box-shadow: 2px 2px 5px #000;
}

.btn:hover {
  background: #28262C;
  border: solid 2px #ff4b2b;
}

.btn:active {
  background: -webkit-gradient(linear, right top, left top, from(#ff416c), to(#ff4b2b));
  background: linear-gradient(to left, #ff416c, #ff4b2b);
}

.black {
  background-color: #000;
}

.white {
  background-color: #fff;
}

.darkGray {
  background-color: #909090;
}

.lightGray {
  background-color: #e2e2e2;
}

.blue {
  background-color: #0000ff;
}

.lightBlue {
  background-color: #66ffff;
}

.purple {
  background-color: #9900ff;
}

.red {
  background-color: #ff0000;
}

.pink {
  background-color: #dd45af;
}

.yellow {
  background-color: #ffff00;
}

.orange {
  background-color: #fd790d;
}

.green {
  background-color: #009900;
}

.lightGreen {
  background-color: #66ff33;
}

.brown {
  background-color: #5c2500;
}

.lilac {
  background-color: #deccff;
}

.appleGreen {
  background-color: #ccff33;
}

/*
@media screen and (min-width: 1200px) {
    body{
        main{        

            #container{
                position: relative;
                z-index: 1;
                padding:0px;
                width: 40%;
            }
            .herramientas{
                position: absolute;
                top: 0;
                right: 0;
                background: $colorDark;
                height: 100vh;
                width: 400px;

                text-align: center;
                &::before {
                    right: 400px;
                }
                &::after {
                    right: 400px;
                }
            }
        }
    }
    

}*/
/*# sourceMappingURL=style.css.map */