html{
    font-size: 16px;
}
@font-face{
    font-family: 'pixel';
    src: url('../assets/fonts/VT323-Regular.ttf');
}
*{
    padding: 0;
    border: 0;
    margin: 0;   
    box-sizing: border-box;
}
body{
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: 'pixel', Arial, Helvetica, sans-serif;
    background-image: radial-gradient( circle 343px at 46.3% 47.5%,  rgba(242,242,242,1) 0%, rgba(241,241,241,1) 72.9% );
    header{
        margin-left: 120px;
        margin-top: 40px;
        color: #ff416c;
        font-size: 2rem;
        text-decoration-line: underline;
    }
    main{        
        display: flex;
        justify-content: flex-end;
        #container{
            position: relative;
            z-index: 1;
            padding:0px;
            width: calc(90% - 300px);
            margin-right: 270px;
            margin-top: 40px;
            float: left;
            border: solid 2px #28262C;
            border-radius: 5px;
            padding: 1px;
            display: grid;
            grid-template-columns: repeat(30, 1fr);
            grid-template-rows: repeat(30, 1fr);
            grid-gap: 0;
            grid-auto-flow: dense;
            background-color: #28262C;
            .gray{
                width: 100%;
                padding-bottom: 100%;
                background-color: #f2f2f2;
            }
            .white{
                width: 100%;
                padding-bottom: 100%;
                background-color: #fff;
            }
        }
        .herramientas{
            position: absolute;
            top: 0;
            right: 0;
            background: #28262C;
            height: 100vh;
            width: 300px;
            text-align: center;
            &::before {
                content: "";
                position: absolute;
                right: 300px;
                top: 0px;
                height: 60px;
                width: 60px;
                border-top-right-radius: 30px;
                box-shadow: 0 -30px 0 0 #28262C; 
            }
            &::after {
                content: "";
                position: absolute;
                right: 300px;
                bottom: 0px;
                height: 60px;
                width: 60px;
                border-bottom-right-radius: 30px;
                box-shadow: 0 30px 0 0 #28262C; 
                z-index: 5;
            }
            #clear{
                margin-top:  50px;
            }
            .color{
                width: 150px;
                padding: 20px;
                border: solid 2px #ff4b2b;
                border-radius: 5px;
                display: flex;
                flex-flow: column wrap;
                justify-content: center;
                align-items: center;
                margin: auto;
                margin-bottom: 20px;
                #currentColor{
                    width: 100px;
                    height: 80px;
                    margin-bottom: 10px;
                    border: solid 1px #28262C;
                }
                #basicColors{ 
                    width: 100px;
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    grid-gap: 10px;
                    grid-auto-flow: dense;
                    div{
                        width: 100%;
                        padding-bottom: 100%;
                        border: 1px solid #28262C;
                    }
                }
            }
            .gridSize{
                display: flex;
                flex-flow: column wrap;
                align-items: center;
                input{
                    width: 150px;
                    padding: 10px;
                    border: 1px solid #ff416c;
                    border-radius: 5px;
                    margin-bottom: 10px;
                    text-align: center;
                }
            }
        }
    }
}

.btn{
    font-family: 'pixel', Arial, Helvetica, sans-serif;
    font-size: 1rem;
    background: linear-gradient(to right, #ff416c, #ff4b2b);
    border: solid 2px #ff416c;
    width: 150px;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    color: #fff;
    &:hover{
        background: #000;
        border: solid 2px #ff416c;
    }
}
//clases de colores generales
.black{
    background-color: #000;
}
.white{
    background-color: #fff;
}
.darkGray{
    background-color: #909090;
}
.lightGray{
    background-color: #e2e2e2;
}
.blue{
    background-color: #0000ff;
}
.lightBlue{
    background-color: #66ffff;
}
.purple{
    background-color: #8533ff;
}
.red{
    background-color: #ff0000;
    
}
.pink{
    background-color: #ff3399;
}
.yellow{
    background-color: #ffff00;
}
.orange{
    background-color: #ff9900;
}
.green{
    background-color: #009900;
}
.lightGreen{
    background-color: #66ff33;
}
.brown{
    background-color: #cc3300;
}
.lilac{
    background-color: #ccccff;

}
.appleGreen{
    background-color: #ccff33;

}

@media screen and (min-width: 1000px) {
    body{
        main{        
            display: flex;
            justify-content: flex-end;
            #container{
                position: relative;
                z-index: 1;
                padding:0px;
                width: 40%;
                margin-right: 520px;
                margin-top: 0;
            }
            .herramientas{
                position: absolute;
                top: 0;
                right: 0;
                background: #28262C;
                height: 100vh;
                width: 600px;

                text-align: center;
                &::before {
                    right: 600px;
                }
            }
        }
    }
    

}