html{
    font-size: 16px;
}
body{
    background-image: radial-gradient( circle 621px at 25.3% 13.8%,  #DCE1DE 0%, #C2D5D6 90% );
    main{
        width: 50%;
        background-color: #fff;
        float: left;
        border: solid 2px #1F2421;
        display: grid;
        grid-template-columns: repeat(30, 1fr);
        grid-template-rows: repeat(30, 1fr);
        grid-gap: 0;
        grid-auto-flow: dense;
        .gray{
            width: 100%;
            padding-bottom: 100%;
            background-color: #f2f2f2;
        }
        .white{
            width: 100%;
            padding-bottom: 100%;
            background-color: #fff;
        }
        .red{
            background-color: red;
        }
    }
    aside{
        float: left;
        width: 100px;
        #basicColors{ 
            width: 100%;
            display: flex;
            flex-flow: row wrap;
            justify-content: space-evenly;
            .basic{
                margin: 4px;
                width: 40px;
                height: 40px;
                border: 1px solid #000;
            }
        }
    }
}
//clases de colores generales
.black{
    background-color: #000;
}
.white{
    background-color: #fff;
}
.darkGray{
    background-color: #909090;
}
.lightGray{
    background-color: #e2e2e2;
}
.blue{
    background-color: #0000ff;
}
.lightBlue{
    background-color: #66ffff;
}
.purple{
    background-color: #8533ff;
}
.red{
    background-color: #ff0000;
    
}
.pink{
    background-color: #ff3399;
}
.yellow{
    background-color: #ffff00;
}
.orange{
    background-color: #ff9900;
}
.green{
    background-color: #009900;
}
.lightGreen{
    background-color: #66ff33;
}
.brown{
    background-color: #cc3300;
}
.lilac{
    background-color: #ccccff;

}
.appleGreen{
    background-color: #ccff33;

}